################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CafeEmployee/.vs/CafeEmployee/FileContentIndex
